<h1>Edit article</h1>

<h1>Create new article</h1>

<% if @mArticle.errors.any? then %>
  <h2>Following errors prevented the article from being saved</h2>
  <p style="background-color:red; color:white;">
    <ul>
      <% @mArticle.errors.full_messages.each do | msg | %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </p>
<% end %>
<%= render 'form' %>

<%= link_to 'Cancel edit', articles_path %>
