    <div class="container" id="home-container">
      <div class="p-5 mb-4 bg-light rounded-3 text-center text-white">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Blog AlphaBeta</h1>
          <p class="col-md-8 fs-4">Coś tak jakby, ale jeszcze nie wiem</p>
          <button class="btn btn-success btn-lg" type="button">Papatki</button>
        </div>
      </div>
    </div>
