    <% flash.each do | name, msg | %>
      <% if msg.include? "(V)" then %>
        <p style="background-color:green;color:white"><%= msg %></p>
      <% else %>
        <p style="background-color:red;color:white"><%= msg %></p>
      <% end %> 
    <% end %>
